@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="get" asp-action="diasSemana">
        <div class="form-group">
            <label>Valor de x: </label>
            <input type="text" name="x" id="xDoFor" />
        </div>
        <button type="submit" value="diasSemana">diasSemana</button>
    </form>
</div>
